<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SILAPOR - Cek Email</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h2>Registrasi Berhasil 🎉</h2>
    <p>Halo <%= msg ? msg : "User" %></p>
    <p>Silakan cek inbox email kamu untuk melakukan <b>verifikasi akun</b>.</p>
    <p>Belum menerima email? <a href="/resend-verification">Kirim ulang</a></p>
  </div>
</body>
</html>
